---
name: Release
on:
  push:
    tags: ["v*"]

permissions: {}

jobs:
  check:
    uses: ./.github/workflows/check.yaml
    permissions:
      contents: read

  release:
    needs: check
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
          allow-prereleases: true
      - uses: astral-sh/setup-uv@v7
      - run: uv tool install hatch
      - run: hatch build
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: dist/*

  publish:
    needs: release
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
          allow-prereleases: true
      - uses: astral-sh/setup-uv@v7
      - run: uv tool install hatch
      - run: hatch build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
