---
name: Release
on:
  push:
    tags: ["v*"]

permissions:
  contents: write

jobs:
  check:
    uses: ./.github/workflows/check.yaml

  release:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - uses: astral-sh/setup-uv@v7
      - run: uv tool install hatch
      - run: hatch build
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: dist/*
